:root {
  --white: #ffffff;
  --gray: #f0f0f6;
  --grayDark: #767676;
  --dark: #242526;
  --dark2: #3a3b3c;
  --dark3: #18191a;
  --dark4: #2b2b2b;
  --yellow: #ffb400;
  --yellow2: rgba(255, 180, 0, 0.95);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  /* border: 1px solid red; */
}
body {
  background: #e5e5e5;
}
.container {
  max-width: 1440px;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  align-items: flex-start;
  width: 100%;
}

.gap-30 {
  grid-gap: 30px;
}

.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.col-7 {
  grid-column-end: span 7;
}

.col-8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col-12 {
  grid-column-end: span 12;
}

.start-1 {
  grid-column-start: 1;
}

.start-2 {
  grid-column-start: 2;
}

.start-3 {
  grid-column-start: 3;
}

.start-4 {
  grid-column-start: 4;
}

.start-5 {
  grid-column-start: 5;
}

.start-6 {
  grid-column-start: 6;
}

.start-7 {
  grid-column-start: 7;
}

.start-8 {
  grid-column-start: 8;
}

.start-9 {
  grid-column-start: 9;
}

.start-10 {
  grid-column-start: 10;
}

.start-11 {
  grid-column-start: 11;
}

.start-12 {
  grid-column-start: 12;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: var(--grayDark);
}

.space-t20 {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
}


.text-center {
  text-align: center;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.mt-160{
  margin-top: 160px !important;
}


/* ------------------------------USER---------------------------- */

.user-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 20px 50px;
  background: var(--white);
}

.user-box-img {
  position: relative;
  margin-bottom: 20px;
}

.user-box-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
}

.user-box-status {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #7eb942;
  position: absolute;
  bottom: 25px;
  right: 10px;
}

.user-text h3 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-media-item {
  width: 24px;
  height: 24px;
  background: var(--yellow);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  color: var(--dark4);
}

.line {
  width: 100%;
  border: 1px solid var(--gray);
  margin: 20px 0;
}

.user-info {
  width: 100%;
}

.user-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-info-item h5 {
  background: var(--yellow);
  color: var(--dark4);
  padding: 1px 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.user-info-item span {
  color: var(--dark4);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.user-info-item .true {
  color: #7eb942;
}

.capacity-box {
  width: 100%;
}

.capacity-box h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.percentage-box {
  margin-top: 20px;
}

.percentage {
  display: flex;
  justify-content: space-between;
}

.percentage-border {
  border: 1px solid var(--yellow);
  padding: 2px;
  border-radius: 20px;
}

.percentage-line {
  background: var(--yellow2);
  width: 100%;
  height: 2px;
  border-radius: 20px;
}

.skills-box {
  margin-top: 50px;
}

.skills-box-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.skills-box-item p {
  margin-left: 10px;
}

.btn-primary {
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  background: var(--yellow);
  color: var(--dark4);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.btn-primary2 {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  background: var(--yellow);
  color: var(--dark4);
  font-size: 12px;
}

.btn-primary2 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

/* ------------------------------HOME---------------------------- */

.bg {
  background: var(--white);
  padding: 30px;
}

.banner-container {
  background: var(--white);
}

.banner-info {
  padding: 70px 20px;
}

.banner-info p {
  margin: 20px 0;
}

.banner-info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

.banner-info span {
  color: var(--yellow2);
}

.banner-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.banner-img img {
  max-width: 100%;
  max-height: 100%;
}

.title-section{
  max-width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}
.title-section h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}
.box-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box-card2 {
  display: none;
  height: 100%;
  text-align: center;
}

.box-card h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0;
}

.box-card2 p {
  margin: 10px 0;
}

.box-card2 a {
  text-decoration: none;
  color: var(--yellow);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.box-card-container{
  cursor: pointer;
}
.box-card-container:hover .box-card{
  display: none;
}
.box-card-container:hover .box-card2{
  display: block;
}
.card-box {
  position: relative;
  padding: 30px;
}
.big-card-box .card-box:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.Most {
  background: var(--yellow);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Most p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: var(--dark4);
}

.card-box h1 {
  text-align: center;
  margin: 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.card-box-price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}

.card-box-price h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}

.center-text {
  text-align: center;
}

.card-box-icons {
  margin: 20px 0;
}

.card-box-icons-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.card-box-icons-item i {
  margin-right: 15px;
}

.cross {
  color: var(--dark4);
}

.btn-primary-card {
  border-radius: 30px;
  background: var(--white);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  transition: all .5s;
}

.card-box button:hover {
  background: var(--yellow);
  transition: all .5s;
}

.recommended h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.recommended-star img {
  margin-right: 10px;
}

.recommended-person {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.recommended-person img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100px;
}

.recommended-person-text {
  margin-left: 10px;
}

.recommended-person-text h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.dots button {
  background: var(--yellow);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: none;
  margin-left: 5px;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.education h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.education2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.education2 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.box-education {
  margin-top: 20px;
  display: flex;
  align-content: center;
}

.box-education h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.box-education span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin-left: 20px;
  background: var(--yellow);
  color: var(--white);
  padding: 5px;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio button {
  background: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark4);
  margin-right: 20px;
}
.portfolio button:hover {
  color: var(--yellow);
}

.portfolio .active {
  color: var(--yellow);
}

.portfolio-img-box {
  margin-top: 20px;
}

.portfolio-img{
  position: relative;
}
.portfolio-img img {
  width: 100%;
  object-fit: cover;
}
.plus {
  position: relative;
}

.plus button {
  display: block;
  background: var(--yellow);
  opacity: 0;
  border: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .5s;
}

.plus button img {
  width: 20px;
}

.blog img {
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.plus:hover button{
  opacity: .9;
  transition: all .5s;
}

.box-blog {
  padding: 20px;
  margin-top: -10px;
}

.box-blog h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.box-blog a {
  color: var(--yellow);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.box-blog p {
  margin: 10px 0;
}

.box-blog i {
  font-size: 10px;
  margin-left: 10px;
}

.contact-input {
  margin-bottom: 20px;
}

.box-contact {
  margin-bottom: 50px;
}

.box-contact h1 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: var(--dark4);
}

.contact-input h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--grayDark);
}

.contact-input input {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border: none;
  background: var(--gray);
}

.contact-input textarea {
  width: 100%;
  margin-top: 5px;
  border: none;
  background: var(--gray);
  padding: 10px;
}

.btn-primary3 {
  width: 170px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.info {
  width: 100%;
  padding: 10px 20px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cicle-icon {
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.cicle-icon img {
  width: 15px;
}

.info-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.info-text h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--grayDark);
}

.mapa img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-logo img {
  width: 60%;
}

/* ------------------------------NAV---------------------------- */
.box-big-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boton-dark {
  background: none;
  border: none;
  margin-top: 20px;
}

.boton-dark img {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

.box-nav-a {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-nav-a a {
  width: 40px;
  height: 40px;
  background: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 40px;
  text-decoration: none;
}
.box-nav-a a:hover {
  background: var(--yellow);
}

.box-nav-a a i {
  font-size: 12px;
  color: var(--dark4);
}

.box-nav-a .activo {
  background: var(--yellow);
}

.tarjeta-nav {
  text-decoration: none;
  position: relative;
}

.tarjeta-nav-text {
  background: var(--dark4);
  width: 65px;
  height: 24px;
  position: absolute;
  top: -35px;
}
.tarjeta-nav-text p {
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
