*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
body{
  background: #E5E5E5;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  align-items: flex-start;
  width: 100%;
}


:root{
  --blaco:#FFFFFF;
  --gree:#E4E6EB;
  --gree2:#F0F0F6;
  --greeOscuro:#767676;
  --dark:#242526;
  --dark2:#3A3B3C;
  --dark3:#18191A;
  --dark4:#2B2B2B;
  --yellow:#FFB400;
  --yellow2: rgba(255, 180, 0, 0.95);
}

.gap-30{
  grid-gap: 30px;
}

.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.col-7 {
  grid-column-end: span 7;
}

.col-8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col-12 {
  grid-column-end: span 12;
}

.start-1 {
  grid-column-start: 1;
}

.start-2 {
  grid-column-start: 2;
}

.start-3 {
  grid-column-start: 3;
}

.start-4 {
  grid-column-start: 4;
}

.start-5 {
  grid-column-start: 5;
}

.start-6 {
  grid-column-start: 6;
}

.start-7 {
  grid-column-start: 7;
}

.start-8 {
  grid-column-start: 8;
}

.start-9 {
  grid-column-start: 9;
}

.start-10 {
  grid-column-start: 10;
}

.start-11 {
  grid-column-start: 11;
}

.start-12 {
  grid-column-start: 12;
}

.p50{
  padding:50px 50px 20px 50px;
}


p{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: var(--greeOscuro);
}

.write{
  background: var(--blaco);
}

.space-t20{
  margin-top: 20px;
}

button{
  cursor: pointer;
}


.mt-50{
  margin-top: 50px;
}

.mt-20{
  margin-top: 20px;
}

.text-center{
  text-align: center;
}

.end{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}



/* ------------------------------USER---------------------------- */

.caja-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja-img-user{
  position: relative;
  margin-bottom: 20px;
}

.caja-img-user img{
  width: 150px;
  border-radius: 100px;

}

.user-circle{
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #7EB942;
  position: absolute;
  bottom: 25px;
  right: 10px;
}

.user-text h3{
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.caja-circle{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.item-circle{
  width: 24px;
  height: 24px;
  background: var(--yellow);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  color: var(--dark4);
}

.linea{
  width: 100%;
  border: 1px solid var(--gree2);
  margin: 20px 0;
}

.caja-referncias{
  width: 100%;
}

.item-referncias{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-referncias h5{
  background: var(--yellow);
  color: var(--dark4);
  padding: 1px 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px
}

.item-referncias span{
  color: var(--dark4);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px
}

.item-referncias .true{
  color: #7EB942;
}

.caja-capacidades{
  width: 100%;
}

.caja-capacidades h2{ 
  font-style: normal;
  font-weight: 500; 
  font-size: 18px;
}

.caja-porcentaje{
  margin-top: 20px;
}

.porcentaje{
 display: flex;
 justify-content: space-between;   
}

.porcentaje-borde{
  border: 1px solid var(--yellow);
  padding: 2px;
  border-radius: 20px;
}

.porcentaje-linea{
  background: var(--yellow2);
  width: 100%;
  height: 2px;
  border-radius: 20px;
}
.porcentaje-linea2{
  background: var(--yellow2);
  width: 80%;
  height: 2px;
  border-radius: 20px;
}
.porcentaje-linea3{
  background: var(--yellow2);
  width: 60%;
  height: 2px;
  border-radius: 20px;
}
.porcentaje-linea4{
  background: var(--yellow2);
  width: 90%;
  height: 2px;
  border-radius: 20px;
}
.porcentaje-linea5{
  background: var(--yellow2);
  width: 85%;
  height: 2px;
  border-radius: 20px;
}

.porcentaje-linea6{
  background: var(--yellow2);
  width: 80%;
  height: 2px;
  border-radius: 20px;
}

.porcentaje-linea7{
  background: var(--yellow2);
  width: 75%;
  height: 2px;
  border-radius: 20px;
}

.porcentaje-linea8{
  background: var(--yellow2);
  width: 85%;
  height: 2px;
  border-radius: 20px;
}

.caja-skills{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.caja-skills p{
  margin-left: 10px;
}

.btn-primary{
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 0 30px;
  background: var(--yellow);
  color: var(--dark4);
}

.btn-primary h3{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}


/* ------------------------------HOME---------------------------- */

.fondo{
  background: var(--blaco);
  padding: 30px;
}

.banner-big{
  position: relative;
}

.banner{
  padding: 70px 20px;
}

.banner p{
  margin: 20px 0;
}

.banner h1{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

.banner span{
  color: var(--yellow2)
}

.btn-primary2{
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 0 30px;
  background: var(--yellow);
  color: var(--dark4);
  font-size: 12px;
}

.btn-primary2 h3{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.banner-img{
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 0;
}

.center{
  display: flex;
  justify-content: center;
}

.text-titel{
  text-align: center;
  width: 400px;
  margin-bottom: 40px;
}

.space{
  margin-top: 200px;
}

.space50{
  margin-top: 50px;
}

.text-titel h2{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}

.caja-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.caja-card2{
  height: 100%;
}

.caja-card h4{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0;
}

.caja-card2 p{
  margin: 10px 0;
}

.caja-card2 a{
  text-decoration: none;
  color: var(--yellow);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.caja-tarjeta{
  position: relative;
  padding: 30px;
}
.caja-big-tarjeta .caja-tarjeta:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.Most{
  background: var(--yellow);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Most p{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: var(--dark4); 
}

.caja-tarjeta h1{
  text-align: center;
  margin: 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.tarjeta-precio{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}

.tarjeta-precio h2{ 
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}

.center-text{
  text-align: center;
}

.caja-tarjeta-icon{
  margin: 20px 0;
}

.item-icon{
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.item-icon i{
  margin-right: 15px;
}

.cross{
  color: var(--dark4);
}

.btn-primary-tarjeta{
  border-radius: 30px;
  background: var(--blaco);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15); 
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.caja-tarjeta button:hover{
  background: var(--yellow);
}

.recommen-star img{
  margin-right: 10px;
}

.recommen h4{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.recommen-persona{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.recommen-persona img{
 width: 70px;
 height: 70px;
 object-fit: cover;
 border-radius: 100px;
}

.recommen-persona-text{
  margin-left: 10px;
}

.recommen-persona-text h4{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom:5px ;
}

.botones-circle{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.botones-circle button{
  background: var(--yellow);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: none;
  margin-left: 5px;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.education h3{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.education2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}


.education2 h3{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.education-caja{
  margin-top: 20px;
  display: flex;
  align-content: center;
}

.education-caja h5{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.education-caja span{
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin-left: 20px;
  background: var(--yellow);
  color: var(--blaco);
  padding: 5px;
}

.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio button{
  background: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark4);
  margin-right: 20px;
}
.portfolio button:hover{
  color: var(--yellow);
}

.portfolio .active{
  color: var(--yellow);
}

.portfolio-img-caja{
  margin-top: 20px;
}

.portfolio-img img{
  width: 100%;
  object-fit: cover;
}

.plus{
  position: relative;
}

.plus button{
  background: var(--yellow);
  opacity: 0.9;
  border: none;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.plus button img{
  width: 20px;
}

.blog img{
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.caja-blog{
  padding: 20px;
  margin-top: -10px;
}

.caja-blog h3{ 
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.caja-blog a{
  color: var(--yellow);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.caja-blog p{
  margin: 10px 0;
}

.caja-blog i{
  font-size: 10px;
  margin-left: 10px;
}

.contact-input{
  margin-bottom: 20px;
}

.caja-contact{
  margin-bottom: 50px;
}

.caja-contact h1{
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: var(--dark4);
}

.contact-input h4{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--greeOscuro);
}

.contact-input input{
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border: none;
  background: var(--gree2);
}

.contact-input textarea{
  width: 100%;
  margin-top: 5px;
  border: none;
  background: var(--gree2);
  padding: 10px;
}

.btn-primary3{
  width: 170px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.info{
  width: 100%;
  padding: 10px 20px;
}

.icon-caja{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cicle-icon {
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.cicle-icon img{
  width: 15px;
}

.info-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.info-text h4{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--greeOscuro);
}

.mapa img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.caja-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja-logo img{
  width: 60%;
}


/* ------------------------------NAV---------------------------- */
.caja-big-nav{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boton-dark {
  background: none;
  border: none;
  margin-top: 20px;
}

.boton-dark img{
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

.caja-nav-a{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caja-nav-a a{
  width: 40px;
  height:40px;
  background: var(--gree2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 40px;
  text-decoration: none;
}
.caja-nav-a a:hover{
  background: var(--yellow);
}

.caja-nav-a a i{
  font-size: 12px;
  color: var(--dark4);
}

.caja-nav-a .activo{
  background: var(--yellow);
}

.tarjeta-nav{
  text-decoration: none;
  position: relative;
}

.tarjeta-nav-text{
  background: var(--dark4);
  width: 65px;
  height: 24px;
  position: absolute;
  top: -35px;
}
.tarjeta-nav-text p{
  color: var(--blaco);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}