@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?poq1tb');
  src:  url('../fonts/icomoon.eot?poq1tb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?poq1tb') format('truetype'),
    url('../fonts/icomoon.woff?poq1tb') format('woff'),
    url('../fonts/icomoon.svg?poq1tb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bien:before {
  content: "\e90a";
  color: #ffb400;
}
.icon-student:before {
  content: "\e900";
  color: #767676;
}
.icon-Vector2:before {
  content: "\e901";
}
.icon-Vector4:before {
  content: "\e902";
}
.icon-Vector6:before {
  content: "\e903";
}
.icon-html:before {
  content: "\e904";
  color: #767676;
}
.icon-mensaje:before {
  content: "\e905";
  color: #767676;
}
.icon-pluma:before {
  content: "\e906";
  color: #767676;
}
.icon-Shape:before {
  content: "\e907";
  color: #ffb400;
}
.icon-Vector:before {
  content: "\e908";
  color: #ffb400;
}
.icon-Vector1:before {
  content: "\e909";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-linkedin2:before {
  content: "\eaca";
}
